@model IEnumerable<WebsiteTMDT.Areas.Admin.Models.EF.Product>
@{
    var aoNam = Model.Where(p => p.ProductCategory.Id == 4).Take(4);
    var aoNu = Model.Where(p => p.ProductCategory.Id == 3).Take(3);
    var giay = Model.Where(p => p.ProductCategory.Id == 2).Take(2);
    var phuKien = Model.Where(p => p.ProductCategory.Id == 6).Take(1);
    var aotreem = Model.Where(p => p.ProductCategory.Id == 5).Take(2);
}
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="@Url.Action("Index", "Shop", new { area = "User" })" method="get">
                            <div class="hero__search__categories">
                                Tìm kiếm
                            </div>
                            <input type="text" name="searchQuery" placeholder="Nhập từ khóa tìm kiếm">
                            <button type="submit" class="site-btn"><i class='bx bx-search'></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="promoModal" class="promo-modal">
    <div class="promo-content">
        <span class="close-btn">&times;</span>
        <div class="promo-image">
            <img src="/img/vn-11134258-7r98o-lygfmvwtyvtta1_xxhdpi.jpg" alt="Promotion Image">
        </div>
        <div class="promo-text">
            <div class="promo-title">93% KHÁCH HÀNG ĐỒNG Ý DA SĂN CHẮC HƠN</div>
            <div class="promo-subtitle">60 NĂM KHOA HỌC NHÂN SÂM</div>
            <div class="promo-details">
                <p>QUÀ KÈM ĐẾN <span>5.000.000Đ</span> | VOUCHER ĐẾN <span>15%</span></p>
                <p>QUÀ MỌI ĐƠN <span>1.000.000Đ</span></p>
            </div>
            <button class="promo-button">MUA NGAY</button>
        </div>
    </div>
</div>


<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="banner-tops">
    <vc:banner-compoment></vc:banner-compoment>
</section>
<section class="banner-top">
    <div class="khung">
        <img src="~/img/banne1.png" />
    </div>
</section>
<section class="categories">
    <div class="container">
        <div class="row">
            <vc:danh-muc-home></vc:danh-muc-home>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Sản phẩm nổi bật</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Tất cả</li>
                        <li data-filter=".giaydep">Giày,Dép</li>
                        <li data-filter=".aonam">Quần áo nam</li>
                        <li data-filter=".aonu">Quần áo nữ</li>
                        <li data-filter=".aocon">Quần áo trẻ em</li>
                        <li data-filter=".phukien">Phụ kiện</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
             @foreach (var item in aoNam)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix aonam">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            @if (@item.IsSale == true)
                            {
                                <!-- Sale Icon -->
                                <div class="sale-icon">
                                    <i style="color: #DC0000;" class='bx bxs-discount'></i>
                                </div>
                            }
                            <a href="/@item.Alias-p@(item.Id)"><img src="data:image/png;base64,@item.Image" alt=""></a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class='bx bxs-heart-circle'></i></a></li>
                                <li><a data-id="@item.Id" id="addToCartButton" href="#"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <a href="/@item.Alias-p@(item.Id)"><h6>@item.Title</h6></a>
                        </div>
                        <div class="featured__item__text">
                            @if (item.IsSale == true)
                            {
                                <h5 style="color: #DC0000;" class="price-display">@item.PriceSale</h5>
                            }
                            else
                            {
                                <h5 style="color: #DC0000;" class="price-display">@item.Price</h5>
                            }
                        </div>
                    </div>
                </div>
            }
            @foreach (var item in aoNu)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix aonu">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <a href="/@item.Alias-p@(item.Id)">
                                @if (@item.IsSale == true)
                                {
                                    <!-- Sale Icon -->
                                    <div class="sale-icon">
                                        <i style="color: #DC0000;" class='bx bxs-discount'></i>
                                    </div>
                                }
                                <img src="data:image/png;base64,@item.Image" alt="">
                                </a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class='bx bxs-heart-circle'></i></a></li>
                                <li><a data-id="@item.Id" id="addToCartButton" href="#"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <a href="/@item.Alias-p@(item.Id)"><h6>@item.Title</h6></a>
                        </div>
                        <div class="featured__item__text">
                            @if (item.IsSale == true)
                            {
                                <h5 style="color: #DC0000;" class="price-display">@item.PriceSale</h5>
                            }
                            else
                            {
                                <h5 style="color: #DC0000;" class="price-display">@item.Price</h5>
                            }
                        </div>
                    </div>
                </div>
            }
            @foreach (var item in giay)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix giaydep">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            @if (@item.IsSale == true)
                            {
                                <!-- Sale Icon -->
                                <div class="sale-icon">
                                    <i style="color: #DC0000;" class='bx bxs-discount'></i>
                                </div>
                            }
                            <a href="/@item.Alias-p@(item.Id)"><img src="data:image/png;base64,@item.Image" alt=""></a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class='bx bxs-heart-circle'></i></a></li>
                                <li><a data-id="@item.Id" id="addToCartButton" href="#"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <a href="/@item.Alias-p@(item.Id)"><h6>@item.Title</h6></a>
                        </div>
                        <div class="featured__item__text">
                            @if (item.IsSale == true)
                            {
                                <h5 style="color: #DC0000;" class="price-display">@item.PriceSale</h5>
                            }
                            else
                            {
                                <h5 style="color: #DC0000;" class="price-display">@item.Price</h5>
                            }
                        </div>
                    </div>
                </div>
            }
            @foreach (var item in phuKien)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix phukien">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            @if (@item.IsSale == true)
                            {
                                <!-- Sale Icon -->
                                <div class="sale-icon">
                                    <i style="color: #DC0000;" class='bx bxs-discount'></i>
                                </div>
                            }
                            <a href="/@item.Alias-p@(item.Id)"><img src="data:image/png;base64,@item.Image" alt=""></a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class='bx bxs-heart-circle'></i></a></li>
                                <li><a data-id="@item.Id" id="addToCartButton" href="#"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <a href="/@item.Alias-p@(item.Id)"><h6>@item.Title</h6></a>
                        </div>
                        <div class="featured__item__text">
                            @if (item.IsSale == true)
                            {
                                <h5 style="color: #DC0000;" class="price-display">@item.PriceSale</h5>
                            }
                            else
                            {
                                <h5 style="color: #DC0000;" class="price-display">@item.Price</h5>
                            }
                        </div>
                    </div>
                </div>
            }
            @foreach (var item in aotreem)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix aocon">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            @if (@item.IsSale == true)
                            {
                                <!-- Sale Icon -->
                                <div class="sale-icon">
                                    <i style="color: #DC0000;" class='bx bxs-discount'></i>
                                </div>
                            }
                            <a href="/@item.Alias-p@(item.Id)"><img src="data:image/png;base64,@item.Image" alt=""></a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class='bx bxs-heart-circle'></i></a></li>
                                <li><a data-id="@item.Id" id="addToCartButton" href="#"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <a href="/@item.Alias-p@(item.Id)"><h6>@item.Title</h6></a>
                        </div>
                        <div class="featured__item__text">
                            @if (item.IsSale == true)
                            {
                                <h5 style="color: #DC0000;" class="price-display">@item.PriceSale</h5>
                            }
                            else
                            {
                                <h5 style="color: #DC0000;" class="price-display">@item.Price</h5>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner-bottom">
    <div class="container">
        <div class="khung">
            <img src="~/img/banner2.jpg" />
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Mới Nhất</h4>
                    <div class="latest-product__slider owl-carousel">
                        <vc:newest-product-compoment></vc:newest-product-compoment>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Mua nhiều</h4>
                    <div class="latest-product__slider owl-carousel">
                        <vc:newest-product-compoment></vc:newest-product-compoment>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text" style="margin-bottom: 30px;">
                    <h4>Yêu thích</h4>
                    <div class="latest-product__slider owl-carousel">
                        <vc:newest-product-compoment></vc:newest-product-compoment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const prices = document.querySelectorAll('.price-display');
        prices.forEach(price => {
            let priceText = price.textContent.trim();
            let priceValue = parseInt(priceText.replace(/\D/g, '')); // Remove any non-digit characters

            if (priceValue >= 1000000) {
                // Format as x.000.000
                let millions = Math.floor(priceValue / 1000000);
                let thousands = Math.floor((priceValue % 1000000) / 1000);
                price.textContent = `${millions}.${thousands.toString().padStart(3, '0')}.000 đ`;
            } else {
                // Format as x.000
                let thousands = priceValue / 1000;
                price.textContent = `${thousands.toFixed(3).replace('.', '.')} đ`;
            }
        });
    });
    var timeOut = 2000;
    var slideIndex = 0;
    var autoOn = true;

    autoSlides();

    function autoSlides() {
        timeOut = timeOut - 20;

        if (autoOn == true && timeOut < 0) {
            showSlides();
        }
        setTimeout(autoSlides, 20);
    }

    function prevSlide() {

        timeOut = 2000;

        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");

        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            dots[i].className = dots[i].className.replace(" actives", "");
        }
        slideIndex--;

        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        if (slideIndex == 0) {
            slideIndex = 3
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }

    function showSlides() {

        timeOut = 2000;

        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");

        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            dots[i].className = dots[i].className.replace(" actives", "");
        }
        slideIndex++;

        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " actives";
    }

    // Hiển thị modal khi trang load
    window.onload = function () {
        const modal = document.getElementById("promoModal");
        const closeBtn = document.querySelector(".close-btn");

        // Hiển thị modal
        modal.style.display = "flex";

        // Đóng modal khi nhấn nút đóng
        closeBtn.onclick = function () {
            modal.style.display = "none";
        };

        // Đóng modal khi click bên ngoài modal
        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        };
    };

</script>


