 @model IEnumerable<WebsiteTMDT.Areas.Admin.Models.EF.Product> // Ensure this matches your project's structure

@foreach (var item in Model)
{
    <div class="latest-product__slider__item">
        <a href="/@item.Alias-p@(item.Id)" class="latest-product__item">
            <div class="latest-product__item__pic">
                <img src="data:image/png;base64,@item.Image" alt="">
            </div>
            <div class="latest-product__item__text">
                @if (item.IsSale == true)
                {
                    <h6 class="product-name"><a>(Sale)</a> @item.Title</h6>
                }
                else
                {
                    <h6 class="product-name">@item.Title</h6>
                }
            </div>
            <div class="latest-product__item__text">
                @if (item.IsSale == true)
                {
                    <span class="price-display">@item.PriceSale</span>
                    <span class="price-display price-displays" style="color: #b1b0b0">@item.Price</span>
                }
                else
                {
                    <span class="price-display">@item.Price</span>
                }
            </div>
        </a>
    </div>

}
 