@model IEnumerable<WebsiteTMDT.Areas.Admin.Models.EF.Product>
@{
    var aoNam = Model.Where(p => p.ProductCategory.Id == 4).Take(4);
    var aoNu = Model.Where(p => p.ProductCategory.Id == 3).Take(3);
    var giay = Model.Where(p => p.ProductCategory.Id == 2).Take(2);
    var phuKien = Model.Where(p => p.ProductCategory.Id == 6).Take(1);
    var aotreem = Model.Where(p => p.ProductCategory.Id == 5).Take(2);
}
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="@Url.Action("Index", "Shop")" method="get">
                            <div class="hero__search__categories">
                                Tìm kiếm
                            </div>
                            <input type="text" name="searchQuery" placeholder="Nhập từ khóa tìm kiếm">
                            <button type="submit" class="site-btn"><i class='bx bx-search'></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <vc:danh-muc-home></vc:danh-muc-home>
        </div>
    </div>
</section>
<section class="banner-top">
    <div class="khung">
        <img src="~/img/banne1.png" />
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Sản phẩm nổi bật</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Tất cả</li>
                        <li data-filter=".giaydep">Giày,Dép</li>
                        <li data-filter=".aonam">Quần áo nam</li>
                        <li data-filter=".aonu">Quần áo nữ</li>
                        <li data-filter=".aocon">Quần áo trẻ em</li>
                        <li data-filter=".phukien">Phụ kiện</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
             @foreach (var item in aoNam)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix aonam">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <a asp-action="Index" asp-controller="product_detail" asp-route-id="@item.Id"><img src="data:image/png;base64,@item.Image" alt=""></a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class='bx bxs-heart-circle'></i></a></li>
                                <li><a href="#"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <a asp-action="Index" asp-controller="product_detail" asp-route-id="@item.Id"><h6>@item.Title</h6></a>
                        </div>
                        <div class="featured__item__text">
                            <h5 style="color: #DC0000;" class="price-display">@item.Price</h5>
                        </div>
                    </div>
                </div>
            }
            @foreach (var item in aoNu)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix aonu">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <a asp-action="Index" asp-controller="product_detail" asp-route-id="@item.Id"><img src="data:image/png;base64,@item.Image" alt=""></a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class='bx bxs-heart-circle'></i></a></li>
                                <li><a href="#"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <a asp-action="Index" asp-controller="product_detail" asp-route-id="@item.Id"><h6>@item.Title</h6></a>
                        </div>
                        <div class="featured__item__text">
                            <h5 style="color: #DC0000;" class="price-display">@item.Price</h5>
                        </div>
                    </div>
                </div>
            }
            @foreach (var item in giay)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix giaydep">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <a asp-action="Index" asp-controller="product_detail" asp-route-id="@item.Id"><img src="data:image/png;base64,@item.Image" alt=""></a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class='bx bxs-heart-circle'></i></a></li>
                                <li><a href="#"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <a asp-action="Index" asp-controller="product_detail" asp-route-id="@item.Id"><h6>@item.Title</h6></a>
                        </div>
                        <div class="featured__item__text">
                            <h5 style="color: #DC0000;" class="price-display">@item.Price</h5>
                        </div>
                    </div>
                </div>
            }
            @foreach (var item in phuKien)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix phukien">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <a asp-action="Index" asp-controller="product_detail" asp-route-id="@item.Id"><img src="data:image/png;base64,@item.Image" alt=""></a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class='bx bxs-heart-circle'></i></a></li>
                                <li><a href="#"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <a asp-action="Index" asp-controller="product_detail" asp-route-id="@item.Id"><h6>@item.Title</h6></a>
                        </div>
                        <div class="featured__item__text">
                            <h5 style="color: #DC0000;" class="price-display">@item.Price</h5>
                        </div>
                    </div>
                </div>
            }
            @foreach (var item in aotreem)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix aocon">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <a asp-action="Index" asp-controller="product_detail" asp-route-id="@item.Id"><img src="data:image/png;base64,@item.Image" alt=""></a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class='bx bxs-heart-circle'></i></a></li>
                                <li><a href="#"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <a asp-action="Index" asp-controller="product_detail" asp-route-id="@item.Id"><h6>@item.Title</h6></a>
                        </div>
                        <div class="featured__item__text">
                            <h5 style="color: #DC0000;" class="price-display">@item.Price</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner-bottom">
    <div class="container">
        <div class="khung">
            <img src="~/img/banner2.jpg" />
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Mới Nhất</h4>
                    <div class="latest-product__slider owl-carousel">
                        <vc:newest-product-compoment></vc:newest-product-compoment>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Mua nhiều</h4>
                    <div class="latest-product__slider owl-carousel">
                        <vc:newest-product-compoment></vc:newest-product-compoment>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text" style="margin-bottom: 30px;">
                    <h4>Yêu thích</h4>
                    <div class="latest-product__slider owl-carousel">
                        <vc:newest-product-compoment></vc:newest-product-compoment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->