@model IEnumerable<WebsiteTMDT.Models.CartItem>

@if (Model != null && Model.Any())
{
    <table class="checkout-table">
        @foreach (var item in Model)
        {
            @if (item.Issale == true)
            {
                <tr>
                    <td>(Sale)</td>
                    <td>@item.ProductName</td>
                    <td>@item.Price.ToString("N0") Đ</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Price.ToString("N0") Đ</td>
                </tr>
            }
        }
        <tr class="total-row">
            <td>Tổng tiền</td>
            <td>@Model.Sum(item => item.Price * item.Quantity).ToString("N0") Đ</td>
        </tr>
    </table>
}
else
{
    <div class="empty-cart">
        <p>Không có sản phẩm trong giỏ hàng! Mời bạn vào trang <a asp-action="Index" asp-controller="Shop">cửa hàng</a></p>
    </div>
}
